@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* font-family: 'Raleway', sans-serif; */
body {font-family: 'Raleway', sans-serif; overflow-x:hidden; }
/* header */
#header {
    width:200px; height:100%;
    background:rgb(26, 26, 26);
    position:fixed; top:0; left:0; 
    color:#c3c3c3;
    z-index: 9999;
}
#header h1 {  text-align:center; padding:70px 0;  }
#header h1 a {
    display:inline-block; 
    background-image: url(../image/bottomlogo.png);
    width:94px; height:75px;
    background-size:contain; 
}

/* header sign */
#header .sign {
    color:#555;
    border:1px dotted #343434;
    overflow: hidden;
}
#header .sign a {
    width:50%; float:left;
    text-align: center; font-size:12px;
    padding:7px;
    transition:all 0.3s;
}
#header .sign a:hover { color:#86b8ea; }
#header .sign a:nth-child(1) { border-right:1px dotted #343434; }

/* header nav */
#header .navopen { display:none }
#header #nav .depth1 { margin:20px 0; position:relative; z-index:999;}
#header #nav .depth1 > li { position:relative; overflow:hidden; }
#header #nav .depth1 > li > a {
    display:block; 
    font-size:15px; text-align: right; font-weight: bold;
    padding:16px 30px;
    width:200px;
}
#header #nav .depth1 > li:hover > a {
    background:#000;
    color:#86b8ea;
}
#header #nav .depth1 > li .depth2 {
    position:absolute; top:0; left:90%;
    width:140px;
    opacity:0;
    font-size:13px;
    margin-top:10px; 
    transition:all 0s 0s;
    z-index:-9999;
}
#header #nav .depth1 > li.on .depth2 {
    left:100%;
    z-index:99;
    opacity:1;
    transition:all 0.3s;
    width:140px;
}
#header #nav .depth1 .depth2 li a {
    display:block;
    padding:10px 20px;
}
#header #nav .depth1:hover > li {overflow:visible;}
#header #nav .depth1 > li .depth2 li:hover a {
    background:#000;
    color:#86b8ea;
}
#header .decobox { position:absolute; top:0; left:100%; width:0px; height:100%; 
    background:rgba(17, 17, 17, 0.8); transition:all 0.1s}
#header .decobox.on { width:140px; }


/* header contact */
#header .contact {
    font-size:17px;
    border-bottom:1px dotted #343434;
}
#header .contact p:first-child {
    color:#86b8ea;
    line-height: 1.2em;
    border-top:1px dotted #343434;
    border-bottom:1px dotted #343434;
    padding:20px;
}
#header .contact p:last-child {
    color:#ddc37c;
    font-size:12px;
    padding:35.5px 20px;
}
/* header viewall */

#header .viewall ul {
    background:#000; border-radius: 50px;
    color:#fff; font-size:50px; text-align: center; line-height:50px;
    width:50px; height:50px;
    position:fixed; bottom:50px; left: 250px;
    transition:all 0.3s;
    overflow:hidden;
    z-index:9999999;
}
#header .viewall ul li:last-child {
    display:none; 
    font-size:14px;
}
#header .viewall:hover ul {
    background:#21bbb1; border-radius: 50px;
    width:200px; height:50px;
}
#header .viewall:hover li:first-child { display:none; }
#header .viewall:hover li:last-child { display:block; }

/* footer info */
#footer { 
    position:relative;
    color:#777;
    font-size:11px;
    line-height: 1.5em;
}
#footer .info {
    position:fixed; bottom:30px; left:35px;
    text-align: right;
    z-index:9999;
}
#footer .inforwd {display:none;}
#footer span { font-weight: bold; letter-spacing: -1px;}